<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <th scope="row" class="flex justify-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
        <%= matchNumber %>
    </th>
    <td class="px-6 py-4 text-center">
        <%= field %>
    </td>
    <td class="px-6 py-4 text-center">
        <%= station %>
    </td>
    <td class="px-6 py-4 text-center">
        <%= displayTeamNumber %>
    </td>
</tr>